rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /documents/{allPaths=**} {
      allow read: if true;           // DEMO: public read
      allow write: if request.auth != null;
    }
  }
}